#headers{
    .categor{
       
        border-right: 1px solid rgba(10, 10, 10,0.3);
        li{
            margin-bottom: 16px;
        }
        .li1{
             margin-top: 30px;
        }
    }
    .headerimg{
        margin-top: 30px;

    }
}